body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}
h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 30px;
}
input,
select,
option {
  font: inherit;
}
.container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
.settings {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settings-options {
  padding: 10px 20px;
  appearance: none;
  position: relative;
  outline: none;
  background: url(../img/arrow.png) no-repeat right 20px center;
  border-radius: 15px;
}
.text-top,
.text-bottom {
  border-radius: 15px;
  padding: 10px 20px;
}
.error-text {
  color: red;
}
.preview {
    width: 500px;
}
.preview__content {
  position: relative;
  color: white;
}
.preview__img {
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px #000;
}
.preview__top-text,
.preview__bottom-text {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: rgba(0.1, 0.1, 0.1, 0.4);
  opacity: 0.7;
  text-shadow: 1px 1px 2px white;
  color: black;
  text-align: center;
  word-break: break-all;
  line-height: 40px;
}
.preview__top-text {
  top: 20px;
  left: 0;
}
.preview__bottom-text {
  bottom: 20px;
  left: 0;
}
@media only screen and (max-width: 915px) {
    .container {
        flex-direction: column;
    }
}